.left-side{
    display: flex;
    margin: 25px 0 0 50px;
    cursor: pointer;
}
.left-side button{
    margin-left: 25px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-family: rubik;
    font-size: 14px;
    cursor: pointer;
}
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 55px;
}
.m-nav{
    display: none;
}

.left-side button:hover{
    color: blue;
}
.right-side{
    margin: 25px 50px 0 0px;
    align-items: center;
    display: flex;
    gap: 15px;
    
}
body{
    background-color: #f6f8fa;
}
.log-in{
    height: 40px;
    width: 80px;
    border-radius: 13px;
    border: 3px solid gainsboro;
    background-color: transparent;
    font-weight: bold;
    font-family: rubik;
    
}
.log-in:hover{
    color: #00baff;
    border: 2px solid #00a2ff;
    cursor: pointer;
}
.sign-up{
    height: 40px;
    border-radius: 15px;
    border:2px solid #00a2ff;
    color: white;
    background-color: #00baff;
    font-family: rubik;
    font-weight: bold;
    padding: 0 10px 0 10px;
}
.sign-up:hover{
    cursor: pointer;
    border:2px solid #00baff;
    background-color:white;
    color: #00baff;
}
.first-text{
    font-family: roboto;
    font-weight: bold;
    color:grey;
    font-size: 15px;
    margin-bottom: 5px;
}
.second-text{
    font-weight: bold;
    font-family: rubik;
    font-size: 60px;
    margin:10px 0 0 0;
}
.third-text{
    font-size: large;
    font-family: rubik;
    text-align: center;
    margin: 10px 0 30px 0;
}
.fourth-text{
    font-size: 11px;
    font-family: rubik;
}
.start-button{
    height: 55px;
    width: 280px;
    border-radius: 23px;
    border:3px solid #ffd200;
    color: black;
    background-color:#ffea00;
    font-family: rubik;
    font-weight: bolder;
    font-size: large;
    padding: 0 2px 0 2px; 
    margin: 35px 0 0 0;   
}
.start-button:hover{
    cursor: pointer;
    border:3px solid #00a2ff;
    background-color:#00baff;
    color:white;
    transition: 0.2s ease-in-out;
}
.all-text{
    text-align: center;
}
@media(max-width:600px){
    .log-in{
        display: none;
    }
    .left-side button{
        display: none;
    } */
    body{
        margin: 5px;
    }
    nav{
        display: none;
    }
.m-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
    font-family: rubik;
}
.m-left img{
    width: 40px;
    height: 30px;
    margin-left: 20px;
}
.dash{
    display: flex;
    background-color: transparent;
    border: none;
    margin: o 10px 4px 0;
}
.dash img{
    width: 25px;
    height: 30px;
}
.m-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .m-signup{
    height: 30px;
    border-radius: 15px;
    background-color: #00baff;
    color: white;
    border: 2px solid #00a2ff;
    font-family: rubik;
    font-weight: bold;
    padding: 0 10px 0 10px;
 }   
 .m-signup:hover{
    background-color: transparent;
    color: #00a2ff;
 }
.second-text{
    font-size: 25px;
}
.third-text{
    font-size: 12px;
    margin: 0 40px 0 40px;
}
}

